#privacy-policy {
    padding-bottom: rem-calc(50);
}

#privacy-policy-xelpros-link {
    color: $color-magenta;
    text-decoration: none;
}

#privacy-policy-cookies-link {
    text-decoration: underline;
    font-weight: bold;
    color: $color-xelpros-blue;
}