.footer {
    background-image: linear-gradient(to bottom, $color-space-blue, $color-space-light-blue);
    @include media-breakpoint-up(md) {
        background-image: linear-gradient(to right, $color-space-blue, $color-space-light-blue);
    }
    background-color: $color-space-blue;
    position: relative;
    color: $color-space-light-blue;
    font-size: 11px;
    line-height: 14px;
    padding: rem-calc(20) 0;
    @include fontSize(14px);

    &-nav__items {
        margin-bottom: rem-calc(10);
        text-align: center;
        list-style: none;
        display: flex;
        justify-content: center;

        @include media-breakpoint-up(md) {
            justify-content: flex-start;
        }

        
        
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        flex: 1 0 100%;
        margin-bottom: rem-calc(20);
        @include media-breakpoint-up(md) {
            flex: 1 0 50%;
            margin-bottom: 0;
        }
    }

    .nav-item {
        padding: 0 rem-calc(10);
    }

    .nav-item:first-child {
        padding-left: 0;
    }

    .nav-item:not(:last-child) {
        border-right: 1px solid $color-space-light-blue;
    }
    

    .nav-link:link, .nav-link:visited {
        text-decoration: none;
        color: $color-space-light-blue;
    }

    .nav-link:hover {
        text-decoration: none;
        text-shadow: rem-calc(5) rem-calc(5) rem-calc(20) $color-space-light-blue, rem-calc(-5) rem-calc(-5) rem-calc(20) $color-space-light-blue;
    }
    
    &__logo-container {
        flex: 1 0 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(md) {
            flex: 1 0 50%;
            justify-content: flex-end;
        }
    }

    &__logo {
        transform: rotate(45deg);
        width: 75px;
        height: 75px;
        margin-right: rem-calc(10);
    }

    &__logo-text {
        @include fontSize(30px);
        font-family: $font-fancy;
        line-height: 1;
    }

    &__link {
        text-decoration: none;
        color: $color-space-blue;
        font-weight: bold;

        &:hover {
            text-decoration: none;
            color: $color-space-blue;
        }
    }

    &__legal {
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }
}