.u-margin-bottom-sm {
    margin-bottom: rem-calc(10);
}

.u-margin-bottom-sm-md {
    margin-bottom: rem-calc(15);
}

.u-margin-bottom-md {
    margin-bottom: rem-calc(20);
}

.u-margin-bottom-lg {
    margin-bottom: rem-calc(30);
}

.u-margin-bottom-xl {
    margin-bottom: rem-calc(40);
}

.u-margin-bottom-xxl {
    margin-bottom: rem-calc(50);
}