// COLORS
$color-white: #fff;
$color-black: #000;
$color-light-gray: #E6E7E8;
$color-gray-alt: #6D6E71;
$color-gray: #67675D;
$color-dark-gray: #002a2a;

$color-x-light-blue: #CFECF5;
$color-light-blue: #6BB1C5;
$color-medium-blue: #267E97;
$color-dark-blue: #065369;
$color-x-dark-blue: #012D39;

$color-dark-brown: #8c7b67;
$color-light-brown: #b09679;
$color-x-light-brown: #D3BEA7;

$color-orange: #FBC26A;

$color-magenta: #F10E82;

$grid-gutter-width: 1rem;

$color-xelpros-blue: #0082CA;
$color-xelpros-green: #3FAE2A;
$color-xelpros-dark-green: #328B21;
$color-space-blue: #1D2951;
$color-space-light-blue: #b8f2ff;
//FONTS
$font-fancy: 'Bungee Shade', cursive;
$font-main: 'Lato', sans-serif;
$font-narrow: 'Archivo Narrow', 'Archivo', 'Arial', sans-serif;
$font-narrow-semibold: 'Archivo Narrow Semibold', 'Archivo', 'Arial', sans-serif;
$font-primary: Arial, sans-serif;
$font-headers: 'Titillium Web', sans-serif;